.dashNav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 104, 231);
    padding: 15px 100px;
    overflow: hidden;
    height: 90px;
    
}

.dashNav--right{
    display: flex;
    align-items: center;
}

.langDropdown__options{
    z-index: 1000;
}

.langDropdown__option{

    display: flex;
    align-items: center;
}

.dashNav-hamburger-icon{
    display: none;
    margin: auto;
    color: white;
}

@media (max-width: 400px){
    .dashNav{
        padding: 15px 20px;
    }
}

@media (max-width: 200px){
    .dashNav{
        padding: 15px 0px;
    }
}

@media (max-width: 1000px){
    .dashnav--dpholder, .profileText{
        display: none;
    }

    .dashNav-hamburger-icon{
        display: block;
    }
}

.profileText{
    color: white;
}

.dashNav--left{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.dashnav--dpholder{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('./../../assets/customers.png');
    background-size: cover;
    background-color: white;
}

.profileText{
    margin: auto;
}
