/* body{
    background-image: url('./../../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
} Import being used globally on all components (made a seperate Background component for this)*/
.terms--heading{
    margin-top: 50px;
    color: white;
    font-size: 25px;
}

.close--back{
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 18px;
    background-color: green;
    color: white;
    border-style: none;
    font-weight: 800;
    margin: 20px 0px;
    cursor: pointer;
}

.terms--text{
    background-color: white;
    color: black;
    width: 650px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    line-height: 1.5;
    font-weight: 350;
}

.terms--para{
    margin-bottom: 30px;
}

@media (width <1000px) {
    .terms--text{
        width: 80%;
    }
}