.footer{
  background-image: url(https://assets.nicepagecdn.com/9a6d2659/5308532/images/bg-gradient-1.svg);
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.footer--links{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.footer--label {
  padding-top: 20px;
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin: 0 50px;
  }

.footer--label:hover {
  text-decoration: underline;
}

@media (max-width: 400px){
  .footer--label {
    margin: 0 20px;
  }
  
}

@media (max-width: 200px) {
  .footer--label {
    margin: 0 0;
  }
  
}