.OthNavbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    position: relative;
}

.OthNav--ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.OthNav--ul>li, .OthNav--ul>li>a{
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}


.OthNavbar--right{
    display: flex;
}

.OthNav--ul>li:hover, .OthNav--ul>li>a:hover{
    color: gray;
}

.OthNavbar--left {
    display: flex;
    align-items: center;
  }
  
.Othhamburger-icon {
display: none;
cursor: pointer;
}
  
@media (max-width: 1000px) {
.OthNav--ul {
     display: none; 
}

.Othhamburger-icon {
    display: block;
    color: white; /* Show the hamburger icon on smaller screens */
}

.OthNavbar--right {
    flex-direction: column; /* Stack the language dropdown below the hamburger icon */
}
}

.OthmenuDropdown{
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    right: 0;
}

.OthNavdropdown--ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.OthNavdropdown--ul>li{
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.link{
    text-decoration: none;
    color: black;
}

.OthNavdropdown--ul>li, .Navdropdown--ul>li>a{
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    transition: background-color 0.5s;
    text-decoration: none;
    list-style: none;
    color: black;
    width: 100%;
}

.OthNavdropdown--ul>li:hover{
    background-color: gray;
}